.profileCover {
  width: 100%;
  height: 200px;
  overflow: hidden;
  top: 0;
}

.profileCover > img {
  width: 100%;
}

.profileSection {
  display: flex;
  justify-content: space-between;
}
.profilePic {
  overflow: hidden;
  width: 160px;
  height: auto;
  border-radius: 2rem;
  margin-right: 0.2rem;
  margin-top: 10px;
}

.InnerPic {
  width: 120px;
}

.profileInfo {
  display: flex;
  margin: 1rem;
  margin-bottom: 0;
  text-align: left;
  justify-content: space-between;
}

.listInfo {
  flex-direction: row !important;
  justify-content: space-evenly !important;
  background-color: beige !important;
  font-size: large;
}

.actionBtn {
  height: 30px;
  margin: auto;
}

.authorInfo > p {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.authorInfo > h5 {
  text-transform: uppercase;
  font-weight: 600;
}

form.addForm {
  width: 60vw;
  /* background-color: #1c5648; */
  padding: 5%;
  margin: 0 auto;
}
.list-group-item {
  color: none !important;
}
.list-group {
  font-size: small;
}
